
.DS_Store
*.tmp
*.tmp.json
*.tmp.obo
*.tmp.owl
bin/
semantic.cache
src/ontology/cl-base.*
src/ontology/cl-base.json
src/ontology/cl-base.obo
src/ontology/cl-basic.*
src/ontology/cl-full.*
src/ontology/cl-non-classified.*
src/ontology/cl-simple-non-classified.*
src/ontology/cl-simple.*
src/ontology/cl.json
src/ontology/cl.obo
src/ontology/cl.owl
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-cl-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/oort
src/ontology/patterns
src/ontology/patterns 
src/ontology/seed.txt
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/patterns/all_pattern_terms.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/imports/seed_sorted.txt
src/patterns/pattern_owl_seed.txt
src/templates/*.owl
