.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/cl.obo
src/ontology/cl.owl
src/ontology/cl-base.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
src/ontology/cl-base.json
src/ontology/cl-base.obo
src/ontology/cl.json
src/patterns/all_pattern_terms.txt
