
.DS_Store
*.tmp
*.tmp.json
*.tmp.obo
*.tmp.owl
bin/
semantic.cache
src/ontology/cl-base.*
src/ontology/cl-base.json
src/ontology/cl-base.obo
src/ontology/cl-basic.*
src/ontology/cl-full.*
src/ontology/cl-non-classified.*
src/ontology/cl-simple-non-classified.*
src/ontology/cl-simple.*
src/ontology/cl.json
src/ontology/cl.obo
src/ontology/cl.owl
src/ontology/cl.db
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-cl-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/oort
src/ontology/patterns
src/ontology/patterns 
src/ontology/seed.txt
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/patterns/all_pattern_terms.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/imports/seed_sorted.txt
src/patterns/pattern_owl_seed.txt
src/ontology/remove_template_classes_from_edit.txt
src/ontology/tmp.txt
.idea
src/patterns/pattern_owl_seed.txt
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/reports/*
!src/ontology/reports/obo-profile.tsv
src/ontology/cl-hipc.owl
site/
src/ontology/cl-check.obo
src/ontology/cl-edit.properties
src/ontology/imports/*_import.owl
subsets/BDS_subset.tsv
subsets/BDS_subset.owl
subsets/BDS_subset.obo
subsets/BDS_subset.json
src/ontology/subsets/BDS_subset.tsv
src/ontology/subsets/BDS_subset.owl
src/ontology/subsets/BDS_subset.obo
src/ontology/subsets/BDS_subset.json
cl.json
cl.owl
cl-simple.owl
cl-simple.obo
cl-simple.json
cl-plus.owl
cl-plus.obo
cl-plus.json
cl-non-classified.owl
cl-non-classified.obo
cl-non-classified.json
cl-full.owl
cl-full.obo
cl-full.json
cl-basic.owl
cl-basic.obo
cl-basic.json
cl-base.obo
cl-base.json
