name: Create new pull request

on:
  workflow_dispatch:
  issues:
    types: [ opened, edited ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    container: obolibrary/odkfull:v1.4.1
    strategy:
      matrix:
        python-version: ["3.9"]
        os: [ ubuntu-latest ]

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3

      - name: Return issue number
        id: gh-script-issue
        uses: actions/github-script@v6
        with:
          # github-token: ${{ secrets.GH_TOKEN }}
          script: |
            const issue_number = context.issue.number
            const repo = context.repo.owner+"/"+context.repo.repo
            return issue_number
      
      - name: Return repository name
        id: gh-script-repo
        uses: actions/github-script@v6
        with:
          # github-token: ${{ secrets.GH_TOKEN }}
          script: |
            const repo = context.repo.owner+"/"+context.repo.repo
            return repo

      - name: Set branch name
        id: vars
        run: |
          echo "resource=cl-base.owl" >> $GITHUB_ENV
          echo "branch-name=kgcl_automation_"${{ steps.gh-script-issue.outputs.result }} >> $GITHUB_ENV
      
      - name: Get jar & create alias command.
        run: wget https://github.com/gouttegd/kgcl-java/releases/download/kgcl-0.1.0/kgcl-robot-standalone-0.1.0.jar -O kgcl-robot.jar

      - name: Run kgcl-robot
        id: kgcl-robot
        run: |
            java -jar kgcl-robot.jar apply -i ${{ env.resource }} \
            -k "create class CL:000099999999 'new class'" \
            -o ${{ env.resource }}

      - name: Clean-up
        run: rm -f kgcl-robot.jar

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        # if: ${{ env.PR_TITLE}}
        with:
          token: ${{ secrets.GH_TOKEN }}
          branch-suffix: short-commit-hash
          labels: Automated
        #   author: ${{ env.ISSUE_CREATOR }} <${{ env.ISSUE_CREATOR }}@users.noreply.github.com>
        #   committer: ${{ env.ISSUE_CREATOR }} <${{ env.ISSUE_CREATOR }}@users.noreply.github.com>
        #   body: ${{ env.PR_BODY }}
        #   title: ${{ env.PR_TITLE }}
          body: "TEST KGCL_JAVA run."
          title: "TEST KGCL_JAVA run."
          branch: "test-kgcl-robot"
          base: ${{ github.head_ref }}
        #   branch: ${{ env.branch-name }}